.SinglePost-container {
    padding: 3rem;
    display: flex;
}

.SinglePost-card {
    margin-top: 3rem;
}

.SinglePost-img {
    height: 500px;
    object-fit: cover;
}

.back-btn {
    color: rgb(75, 58, 8);
    display: inline-block;
    width: 100%;
    text-align: right;
}

.loading {
    margin-top: 30vh;
    text-align: center;
}