.Aside {
    position: absolute;
    width: 29%;
    height: 100vh;
    margin-top: 88px;
    font-size: 1rem;
    right: 0;
    top: 0;
    background-color: rgb(75, 58, 8);
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 1rem;
}

.Aside h2, .Aside h3 {
    font-family: 'Josefin Slab', serif;
    font-size: 1.5rem;  
}

.Aside a {
    color: white;
}