.posts {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* z-index: -1 !important; */
}

.card {
    width: 300px;
    flex: 1 auto !important;
    /* z-index: -1 !important; */
}